:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.netflix-header {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../images/background.jpg") no-repeat center center/cover;
}

.netflix-header .showcase-content h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1em;
  margin: 0 0 30px;
  position: relative;
}
.netflix-header .showcase-content p {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.25em;
  margin: 0 0 30px;
}
.netflix-header .showcase-content .btn,
.netflix-header .showcase-content span {
  padding: 1em;
}
.netflix-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}

.showcase-top a {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translate(-20%);
}

.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.tabs .container > div:hover {
  cursor: pointer;
  color: #222;
}

.tab-border:hover {
  border-bottom: #e50914 4px solid;
}

.tab-content {
  padding: 3rem 0;
  color: #fff;
  background: #000;
}
#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}
.table {
  width: 100%;
  margin-top: 2em;
}
.table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}
.table tbody tr td:first-child {
  text-align: left;
}
.table tbody tr:nth-child(even) {
  background-color: #222;
}
.text-dark {
  color: #999;
}
.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}
.footer,
.footer a {
  color: #999;
  font-size: 1rem;
}
.footer p {
  margin-bottom: 1rem;
}
.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  line-height: 2rem;
}
.btn {
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  text-align: center;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  margin-right: 0.5rem;
  box-shadow: 0 1px rgb(0, 0, 0.45);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}

.btn-large {
  font-size: 1rem;
  padding: 0.2rem 1 rem;
  text-transform: uppercase;
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  z-index: 3;
}

.showcase-content p {
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 960px) {
  .showcase-content h1 {
    font-size: 45px !important;
  }
  .hide-sm {
    display: none;
  }
}
